.gallery__item {
  padding: 0 1rem;
}

.galleryItem {
  &__img {
    @include size(15rem);
    object-fit: cover;
    margin-bottom: 1rem;
  }

  &__text {
    @include flex-center;
    justify-content: space-between;
  }

  &__title {
    font-weight: normal;
    margin-bottom: 0.5rem;
  }

  &__price span {
    color: rgba($c-black, 0.5);
    text-decoration: line-through;
  }

  &__btn {
    font-size: 1.2rem;
    text-align: right;

    p {
      font-size: 0.8rem;

      &:nth-last-child(1) {
        color: $c-blue;
      }
    }
  }
}

@include media(800px) {
  .galleryItem__img {
    @include size(20rem, 30rem);
  }
}
