body,
html {
  height: 100%;
}

body {
  background-color: $c-white;
  color: $c-black;
  font-family: $ff-dft;
}

main {
  opacity: 0;
  animation: pageTransition 1s ease-out forwards;
}

i {
  color: $c-black;
}

.flickity-page-dots,
.flickity-button {
  display: none;
}

@keyframes pageTransition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
