.contato__title {
  margin: 3rem 10vw 10rem 10vw;

  h1 {
    font-size: 5rem;
  }

  span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $c-black;
  }

  h2 {
    font-style: italic;
    font-weight: normal;
  }
}
