.contato__title {
  margin: 3rem 0 10rem 10vw;

  h1 {
    font-size: 5rem;
    // margin-bottom: 2rem;
  }

  span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $c-black;
  }

  h2 {
    // font-size: 2rem;
    font-style: italic;
    font-weight: normal;
  }
}
