.cart {
  &__total {
    font-size: 1.2rem;
    margin: 3rem 0 1.5rem 0;
    text-align: center;
  }

  &__btnBox {
    @include flex-center;
    flex-direction: column;

    margin: 0 2rem;
  }

  &__btn {
    width: 100%;
    padding: 1rem;

    &--primary {
      font-weight: bold;
      background-color: $c-black;
      color: $c-white;
      margin-bottom: 0.5rem;

      &:hover {
        background-color: #212121;
      }
    }

    &--secondary {
      border: 1px solid $c-black;
    }
  }
}
