@import "produtoSobre__gallery";
@import "produtoSobre__btns";
@import "produtoSobre__header";
@import "produtoSobre__description";

.produtoSobre {
  margin-top: 3rem;
  padding: 0 10vw;
}

@include media(700px) {
  .produtoSobre {
    &__product {
      display: flex;
    }

    .second_column_wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      margin-left: 3rem;
    }
  }
}

@include media(900px) {
  .produtoSobre {
    padding: 0 15vw;
  }
}
