.produtoSobre .product__gallery {
  @include flex-center;
  flex-direction: column;

  margin: auto;
  margin-bottom: 2rem;

  .img-wrapper {
    border: 1px solid $c-black;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  img {
    @include size(17rem);
    object-fit: cover;

    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    @include transition(0.2s, 0s);
  }

  .productGallery__btn {
    @include size(20px);
    margin-right: 0.5rem;

    border-radius: 100%;
    border: 1px solid $c-black;

    &--active {
      background-color: $c-black;
    }

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
}

@include media(700px) {
  .produtoSobre .product__gallery {
    margin: 0;
    align-self: flex-start;

    img {
      @include size(20rem);
    }
  }
}

@include media(1000px) {
  .produtoSobre .product__gallery {
    img {
      @include size(35vw);
      max-width: 30rem;
      max-height: 30rem;
    }
  }
}

.galleryImgAnimation {
  opacity: 0;
}

// @keyframes galleryImgAnimation {
//   0% {
//     opacity: 1;
//   }
//   50% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }
