@mixin media($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

@mixin transition($duration, $delay) {
  transition: $duration ease-out $delay;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center-vertically {
  position: absolute;
  top: 50%;
  left: 50%;
}