/* Colors */
$c-white: #ebebeb;
$c-black: #151515;
$c-blue: rgb(72, 138, 224);

/* Fonts */
// $ff-dft: "Open Sans Condensed", sans-serif;
// $ff-special: "Anton", sans-serif;

$ff-dft: "Raleway", sans-serif;
$ff-special: "Abril Fatface", cursive;
