/* Colors */
$c-white: #ebebeb;
$c-black: #151515;
$c-blue: rgb(72, 138, 224);
$c-red: crimson;

$ff-dft: "Open Sans", sans-serif;
$ff-special: "Abril Fatface", cursive;

/* Width */
// $mx-hugeScreen:
