.sobre__bg {
  position: relative;
  z-index: -1;

  img {
    @include size(100%);
    object-fit: contain;
  }

  div {
    @include size(80vw, 80%);
    border-left: 20px double rgba($c-black, 0.1);
    border-bottom: 20px double rgba($c-black, 0.2);

    position: absolute;
    top: 0;
    left: 10vw;
  }
}
