.nav__icon {
  padding: 0.5rem;
  font-size: 1.5rem;

  &--marginRight {
    margin-right: 1rem;
  }
}

#btn__menu {
  @include transition(0.2s, 0s);
}

.spin-menuBtn {
  transform: rotate(225deg);
}

@include media(900px) {
  #btn__menu {
    display: none;
  }

  .nav__icon {
    font-size: 1rem;
    margin-right: 0;
  }
}
