.cart__marker {
  position: relative;
}

.marker__circle {
  @include size(20px);
  @include flex-center;

  position: absolute;
  top: 0;
  right: 15px;

  border-radius: 100%;
  background-color: $c-blue;
  font-weight: bold;
  color: $c-white;
}

@include media(900px) {
  .marker__circle {
    @include size(15px);
    font-size: 0.6rem;
    right: 0;
  }
}
