@import "home__background";
@import "home__text";
@import "home__exploreBtn";
@import "home__stripes";

.home {
  @include size(100%, 100vh);

  @include flex-center;
  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;
}
