.home__explore {
  @include flex-center;
  margin-top: 5rem;

  button {
    width: 13rem;
    padding: 2rem;

    font-style: italic;
    font-weight: bold;
    font-size: 1.3rem;

    border: 5px solid $c-black;
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    color: $c-black;

    &:hover {
      background-color: $c-black;
      color: $c-white;
    }
  }
}

@include media(500px) {
  .home__explore {
    position: absolute;
    right: 10vw;
    bottom: 60px;
    margin-top: 0;

    button {
      width: 20rem;
    }
  }
}

@include media(1800px) {
  .home__explore {
    right: 15vw;
    bottom: 100px;
  }
}

@include media(2300px) {
  .home__explore {
    right: 20vw;
    bottom: 120px;
  }
}
